@import './variables.scss';
.navbar-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: $secondaryColor;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    &__logo {
        color: $fontColor;
    }
}

.buttons-container {
    box-sizing: border-box;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    &__username {
        display: flex;
        align-items: center;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid $primaryBackground;
        border-radius: 20px;
        background-color: $primaryBackground;
    }
    &__button {
        box-sizing: border-box;
        padding: 10px 50px;
        font-size: $mediumFontSize;
        font-weight: 600;
        border-radius: 20px;
        background-color: $primaryBackground;
        color: $fontColor;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
            background-color: $fontColor;
            color: $primaryBackground;
        }
    }
}