$primaryBackground: #121212;
$secondaryColor: rgba(3, 155, 3, 0.911);
$secondaryColorHover: rgb(2, 170, 2);
$fontColor: #ffffff;
$smallFontSize: 12px;
$mediumFontSize: 16px;
$bigFontSize: 20px;
$hugeFontSize: 30px;